<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="modules/layout :: html(content = ~{::content})">
  <th:block th:fragment="content">
    <div class="flex w-full flex-row">
      <div class="h-screen w-96 overflow-y-auto p-2">
        <th:block th:replace="~{modules/sidebar}"></th:block>
      </div>
      <ul class="grid flex-1 grid-cols-3 gap-4 p-2">
        <li th:each="post : ${posts.items}" class="rounded-lg border bg-white p-5">
          <h1 class="text-xl">
            <a
              th:text="${post.spec.title}"
              th:href="${post.status.permalink}"
              class="hover:text-gray-600 hover:underline"
            ></a>
          </h1>
          <p th:text="${post.status.excerpt}" class="mt-2 break-all text-sm text-gray-600"></p>
        </li>
      </ul>
    </div>
  </th:block>
</html>
